postgresql/pg-15-data/
postgresql/pg-15-dist/
postgresql/pgextworkdir/
postgresql/testing-output-*
postgresql/postgresql-*
postgresql/logfile
postgresql/pmd-bin-7.0.0-rc4/
postgresql/.vscode/
postgresql/functions.csv
postgresql/hooks.csv
postgresql/info.csv
postgresql/mechanisms.csv
postgresql/pairwise_parallel.csv
postgresql/single.csv
postgresql/pgxn/
mariadb/myextworkdir
mariadb/*.csv
mariadb/testing-output-*/
sqlite/*.csv
sqlite/testing-output-*/
redis/*.csv
redis/testing-output-*/
duckdb/duckextworkdir/
duckdb/*.csv
duckdb/testing-output-*/