[submodule "duckdb/duckdb"]
	path = duckdb/duckdb
	url = https://github.com/duckdb/duckdb.git
[submodule "duckdb/duckdb-sqllogictest-python"]
	path = duckdb/duckdb-sqllogictest-python
	url = https://github.com/duckdb/duckdb-sqllogictest-python.git
[submodule "redis/redis"]
	path = redis/redis
	url = https://github.com/redis/redis.git
[submodule "index-type-analysis"]
	path = index-type-analysis
	url = https://github.com/abigalekim/index-type-analysis.git
